body {
  background-color: rgba(169, 235, 255, 0.781);
}

html *
{
    text-align: centre;
}

.left{
  margin:0;
  float: left;
  width: 50% ;
  height: 500px;
  margin-top: 10px;
  box-sizing: border-box;
  background-image:url("images/av-long.png");
  background-position: center;
  background-repeat: no-repeat;

}

.left:hover{
  background-image:url("images/av-mawei.png");
  background-repeat: no-repeat;
}

.right{
  margin:0;
  float: right;
  width: 50% ;
  height: 500px;
  margin-top: 10px;
  background-image:url("images/tsaiwei-home.png");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    width: 50%;
    padding: 60px;
    box-sizing: border-box;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;


  }