
html {
  margin: auto;
  padding: 0;
  text-align: centre;
}

body {
  background-color: lightblue;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

h2 {
  font-family:verdana;
  font-size: 30px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 15px;
 

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;


}
