body {
  background-color: rgba(169, 235, 255, 0.781);
}

html *
{
    text-align: centre;
}

.left{
  float: left;
  width: 50% ;
  height: 500px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: blue;
}

.right{
  float: right;
  width: 50% ;
  height: 500px;
  margin-top: 10px;
  background-color: rgb(74, 180, 106);
  box-sizing: border-box;
}

#avery {
  margin:0;
  background-image:url("images/ME-CHANGFA.png");
  width: 20%;
  background-position: top left;
  background-repeat: no-repeat;
}

#avery:hover {
  background-image:url("images/ME-MAWEI.png");
  width: 450px ;
}

#tsaiwei {
  margin:0 auto;
  width: 500px ;
  background-image:url("images/tsaiwei.png");
  background-position-x: center;
}



/*
  #avery{
    position: absolute;
    float: left;
    width: 50%;
    padding: 60px;
    box-sizing: border-box;
  }
*/

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    width: 50%;
    padding: 60px;
    box-sizing: border-box;
  }
  


  /* #avery:hover{
    background-image: url('images/ME-MAWEI.png');
    float: left;
    width: 50%;
    padding: 60px;
    box-sizing: border-box; 
  } */

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;


  }