body{
  padding-top: 30px;
  background-color: rgb(226, 211, 160);
  margin: 0px;
}

p{
  font-family: 'Lucida console', monospace ;
}

a:hover{
  color: lightsalmon;
}

a:active{
  color: mediumaquamarine;
}


#bigphotoplace{
  background-image: url('images/lookaway.JPG');
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 530px;
  margin: 0px;
  overflow: hidden;
}

#bigphotoplace:hover{
  background-image: url('images/lookhere.JPG');
  border-radius: 100%;
  width: 500px;
  padding-left: 100px;
}

.introduction{
  width: 570px;
  margin-top: 200px;
  float: right;
  background-color: rgb(228, 210, 152); opacity: .7;
}

.introduction p{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.8em;
}

#main{
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  box-sizing: border-box;
  float: left;
  background-color: white; opacity: .7;
}

#main p{
  color: rgb(41, 41, 41);
  font-size: 20px;
  font-weight: normal;
}

#main ul{
  font-family: 'Lucida console', monospace ;
  color: rgb(41, 41, 41);
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.8em;
}

#aside{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 50px;
  margin-top: 258px;
  margin-bottom: 50px;
  width: 40%;
  box-sizing: border-box;
  float: right;
  background-color: white; opacity: .7;
}