.title{
    background-image: url('images/averybanner2.jpg');
    background-position: left;
    background-repeat: no-repeat;
    height: 600px;
}

.title p{
    font-family: 'Lucida console', monospace ;
    color: black;
    font: 10px;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 50px;
}