body{
    padding-top: 20px;
    color: rgb(238, 238, 238);
}

p{
    font-family: 'Lucida console', monospace ;
}

a:hover{
    color: lightsalmon;
}

a:active{
    color: mediumaquamarine;
}


#bigphotoplace{
    background-image: url('images/averybanner2.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 530px;
    margin: 0px;
    overflow: hidden;
}

.title{
    padding-top: 110px;
}

.title p{
    color: black;
    font-size: 25px;
    font-weight: normal;
    padding-left: 100px;
    line-height: 0.5em;
}

.introduction{
    width: 580px;
    margin-top: 100px;
}

.introduction p{
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: 200;
    padding-left: 100px;
    line-height: 1.8em;
}

#main{
    padding-left: 100px;
    padding-top: 45px;
    width: 50%;
    box-sizing: border-box;
    float: left;
}

#main p{
    color: rgb(41, 41, 41);
    font-size: 20px;
    font-weight: normal;
}

#main ul{
    font-family: 'Lucida console', monospace ;
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.8em;
}

#aside{
    float: right;
    padding-top: 52px;
    padding-left: 100px;
    width: 50%;
    box-sizing: border-box;
    color: rgb(41, 41, 41);
}